* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #0f1115;
  color: #ffffff;
  line-height: 1.6;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  background: #0b0d11;
}

.navbar a {
  margin-left: 15px;
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}

/* HERO */
.hero {
  display: flex;
  flex-direction: column;
  padding: 40px 20px;
  gap: 30px;
}

.hero-text h1 {
  font-size: 32px;
}

.hero-text p {
  margin: 15px 0;
  opacity: 0.8;
}

.buttons {
  display: flex;
  gap: 15px;
}

.btn {
  padding: 12px 20px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.primary {
  background: #00c2ff;
  color: #000;
}

.outline {
  background: transparent;
  border: 1px solid #00c2ff;
  color: #00c2ff;
}

.hero-image {
  display: flex;
  justify-content: center;
}

.image-placeholder {
  width: 220px;
  height: 280px;
  border: 2px dashed #00c2ff;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.6;
}
.image-placeholder>img{
  width: 600px;

}

/* SECTIONS */
.section {
  padding: 40px 20px;
}

.section h2 {
  margin-bottom: 25px;
  text-align: center;
}

.cards {
  display: grid;
  gap: 15px;
}

.card {
  background: #161a22;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.dark {
  background: #0b0d11;
}

.grid {
  display: grid;
  gap: 15px;
}

.item {
  background: #161a22;
  padding: 18px;
  text-align: center;
  border-radius: 8px;
}
.logo{
  width: 220px;
  height: 220px;
  
}
/* CTA */
.cta {
  padding: 50px 20px;
  text-align: center;
  background: #00c2ff;
  color: #000;
}

footer {
  text-align: center;
  padding: 20px;
  font-size: 13px;
  opacity: 0.7;
}

/* DESKTOP */
@media (min-width: 768px) {
  .hero {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .cards {
    grid-template-columns: repeat(4, 1fr);
  }

  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
