:root {
  --bg-main: #0e1016;
  --bg-dark: #0a0c11;
  --card-bg: #161a23;
  --accent: #00c2ff;
  --text-muted: #a0a6b1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", system-ui, sans-serif;
}

body {
  background: var(--bg-main);
  color: white;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 18px 24px;
  background: var(--bg-dark);
}

.brand {
  display: flex;
  align-items: center;
  gap: 10px;
}

.brand img {
  width: 30px;
}

.nav-links a {
  margin-left: 18px;
  color: var(--text-muted);
  text-decoration: none;
  font-size: 14px;
}

/* HERO */
.hero {
  padding: 40px 24px;
}

.hero-top {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/* SLIDESHOW */
.slideshow {
  position: relative;
  height: 360px;          /* mobile */
  overflow: hidden;
  border-radius: 16px;
}


.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1s ease;
}

.slide.active {
  opacity: 1;
}

/* FOUNDER */
.hero-image img {
  width: 100%;
  max-width: 380px;          /* bigger */
  border-radius: 18px;
  border: 1px solid rgba(0,194,255,0.35);
  box-shadow: 0 20px 50px rgba(0, 194, 255, 0.08);
}


/* HERO CONTENT */
.hero-content {
  margin-top: 30px;
  max-width: 700px;
}

.hero-content h1 {
  font-size: 34px;
}

.hero-content p {
  margin: 16px 0;
  color: var(--text-muted);
}

.hero-actions {
  display: flex;
  gap: 14px;
}

/* BUTTONS */
.btn {
  padding: 12px 22px;
  border-radius: 6px;
  text-decoration: none;
  font-size: 14px;
}

.primary {
  background: var(--accent);
  color: #000;
}

.outline {
  border: 1px solid var(--accent);
  color: var(--accent);
}

/* SECTIONS */
.section {
  padding: 60px 24px;
}

.section.dark {
  background: var(--bg-dark);
}

.section-title {
  text-align: center;
  margin-bottom: 40px;
}

/* FEATURES */
.features {
  display: grid;
  gap: 20px;
}

.feature-card {
  background: var(--card-bg);
  padding: 24px;
  border-radius: 10px;
}

/* LEARN */
.learn-grid {
  display: grid;
  gap: 18px;
}

.learn-item {
  background: var(--card-bg);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

/* FOOTER */
.footer {
  text-align: center;
  padding: 20px;
  color: var(--text-muted);
  font-size: 13px;
}

/* DESKTOP */
@media (min-width: 768px) {
  .hero-top {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-items: center;
  }
  .hero-image img {
    max-width: 80%;
  }

   .slideshow {
    width: 80%;
    height: 480px;  
   }
  .features {
    grid-template-columns: repeat(4, 1fr);
  }

  .learn-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
